body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.close{
  border:10px solid white;
  border-radius:10px;
  position:absolute; 
}

.close2{
  border:10px solid blue;
  border-radius:10px;
  position:absolute; 
}

.close3{
  border:10px solid green;
  border-radius:10px;
  position:absolute; 
}

.close4{
  border:10px solid yellow;
  border-radius:10px;
  position:absolute; 
}
.white_dancer{
  width: 0px;
  height: 0px;
  border-right: 60px solid transparent;
  border-top: 60px solid white;
  border-left: 60px solid white;
  border-bottom: 60px solid white;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  position: absolute;
}

.blue_dancer{
   width: 80px; 
   height: 80px; 
   background: blue;
   margin: 3px 0 0 30px;
   /* Rotate */
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
   /* Rotate Origin */
   -webkit-transform-origin: 0 100%;
   -moz-transform-origin: 0 100%;
   -ms-transform-origin: 0 100%;
   -o-transform-origin: 0 100%;
   transform-origin: 0 100%;
   position:absolute;
}

.image_dancer{
  position:absolute;
}